.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* NAVBAR **/
.navbar {
  width: 100%;
  display: flex;
  position: absolute;
  align-items: end;
  justify-content: flex-end;
}

.navbar_button {
  background-color: transparent;
  border: none;
  font-size: larger;
  cursor: pointer;
}

.navbar_options {
  display: flex;
  list-style: none;
  align-items: end;
  margin-right: 50px;
}

.navbar_options li {
  margin: 10px;
  font-weight: 200;
}

/* PROFILE **/
.profile {
  display: flex;
  width: 100%;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.p_img {
  height: 100px;
}

.profile_desc {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile_desc h1 {
  font-size: 70px;
}

.profile_desc button {
  background-color: #ff6464;
  border: none;
  padding: 10px;
  color: white;
  width: 35%;
  font-size: large;
}

.profile_img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p_img {
  width: 50%;
  height: auto;
  border-radius: 100%;
  box-shadow: -5px 10px #edf7fa;
}

/* CARD **/

.cardParent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.cardDesc {
  width: 100%;
  display: flex;
}

.cardChild {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin: 10px;
  height: auto;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s ease;
}

.cardDesc {
  padding: 0px 10px 0px;
}

.cardImage {
  height: 30%;
  margin-top: 40px;
}
.cardContainer {
  width: 100%;
  box-shadow: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardChild:hover {
  transform: scale(1.1);
}

.resume_button:hover {
  cursor: pointer;
}

/* RECENT **/

.recent_post {
  width: 100%;
  background-color: #edf7fa;
}

.recentParent {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-bottom: 30px;
}

.recent_nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.recentChild {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.cardDate {
  margin-right: 10px;
}
.cardKey {
  margin-left: 10px;
}
.recentChild h3 {
  margin-right: 30px;
  margin-left: 30px;
  font-size: 26px;
  color: #21243d;
}
.recentChild p {
  margin-right: 30px;
  margin-left: 30px;
  font-size: 16px;
  color: #21243d;
}

.recentView {
  color: #00a8cc;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.recentTitle {
  color: #21243d;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    height: auto;
    align-items: center;
    width: 100%;
  }
  .navbar {
    align-items: center;
    justify-content: center;
  }
  .profile_img {
    order: -1;
  }
  .profile_desc {
    text-align: center;
    align-items: center;
    width: 80%;
  }
  .recentParent {
    align-items: center;
    flex-direction: column;
  }
  .recentChild {
    width: 80%;
  }
  .profile_desc button {
    font-size: medium;
  }

  .cardParent {
    flex-direction: column;
    align-items: center;
  }

  .cardDescrip {
    width: 80%;
    text-align: center;
    align-items: center;
  }

  .cardChild {
    width: 90%;
  }

  .cardImage {
    height: 20%;
    margin-top: 40px;
  }
}

@media screen and (max-width: 480px) {
}
